{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>
<div class="text-primary">
  {% for ps in playlist.playlists_songs %}
  <a href="/songs/{{ps.song.id}}">
    <li>{{ps.song.title}} - <i>{{ps.song.artist}}</i></li>
  </a>
  {% endfor %}
</div>

<p class="mt-3">
  <a class="btn btn-primary" href="/songs/add">
    Add Song To Playlist
  </a>
</p>

{% endblock %}