.img-holder {
  display: inline-grid;
  margin-top: 80px;
  margin-left: 100px;
  width: 90em;
  height: 70em;

  background: url(../pics/soda.jpg) no-repeat center center fixed;

  background-size: cover;
  justify-items: center;
  justify-content: space-around;
  align-content: center;
  align-items: start;
}

h1 {

  color: #bdd3d3;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

a {
  padding: 5px;
  color: #bdd3d3;

}