.NavBar {
  background-color: #c4eb12;
  text-align: center;
  font-weight: bold;
}

.NavBar a {

  width: 10em;
  display: inline-block;
  color: rgb(23, 23, 23);
}

.NavBar a:hover {
  background-color: #deee04;
  color: white !important;
}

